<section class="m-section">
    <div class="m-container max-width bg-blue">
        <app-logout></app-logout>
        <div class="m-card__login">
            <div class="m-card__title">
                <span>INTRANET</span>
                <h2>REGISTRO DE PROSPECTOS</h2>
            </div>
        </div>
        <app-filtro-prospecto></app-filtro-prospecto>
        <app-lista-prospecto></app-lista-prospecto>
    </div>
    <div class="m-footer__login">
        <p>&copy;2021 Agencia B12. Todos los derechos reservados.</p>
    </div>
</section>