<section class="m-section p-20">
  <div class="m-container min-width">
      <div class="m-title">
          <h2>CONFIRMACI&Oacute;N</h2>
      </div>
      <div class="m-confirmacion">
          <div class="m-title__confirmacion">
              <p>¡Gracias por registrarte!</p>
          </div>
          <div class="m-content__confirmacion">
            <p>En breves recibirás un correo electr&oacute;nico con la confirmaci&oacute;n del registro.</p>
          </div>
      </div>
      <div class="m-actions text-right">
          <button type="button" class="m-button" (click)="cerrarRegistro()"><span>CERRAR</span><img [src]="ICON_ARROW_BUTTON" alt="icono-button-prospectos"></button>
      </div>
  </div>
</section>