<div class="modal-header">
  <h4 class="modal-title">CONFIRMACI&Oacute;N</h4>
</div>
<div class="modal-body" [formGroup]="formConfirm">
  <p>Para poder iniciar con el registro de tus datos, es necesario que te encuentres con la PC y el lugar donde vas a
    laborar.</p>
  <mat-checkbox formControlName="confirm">Confirmo que mi PC y el lugar donde me encuentro, es donde
    desarrollar&eacute; mis labores.</mat-checkbox>
  <mat-checkbox formControlName="authorization">Autorizo el tratamiento de mi informaci&oacute;n para su uso en
  el proceso de selecci&oacute;n de RocketHall.</mat-checkbox>
</div>
<div class="modal-footer">
  <button type="button" class="m-button" (click)="!validForm || closeModal()"
    [disabled]="!validForm"><span>CONTINUAR</span><img [src]="ICON_ARROW_BUTTON"
      alt="icono-button-prospectos"></button>
</div>